.title {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-top: 80px;
  letter-spacing: 6px;
  user-select: none;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 80px #ffe5fb, 0 0 100px #ff00de, 0 0 150px #4ec0ca;
}
