.gameContainer {
  width: 400px;
  height: 600px;
  background-color: #4ec0ca;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: white;
}
