.row {
  user-select: none;
  display: flex;
  width: 100%;
  padding: 2px 0; /* 减少行的上下内边距 */
  border-bottom: 1px solid #80cbc4; /* 柔和的绿色分隔线 */
  color: #004d40; /* 深绿色字体 */
  align-items: center; /* 水平对齐，避免内容分散 */
}

.row:nth-child(odd) {
  user-select: none;
  background-color: #e0f2f1;
}

.row:nth-child(even) {
  user-select: none;
  background-color: #ffffff;
}

.cell {
  user-select: none;
  flex: 1;
  text-align: center;
  padding: 0 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.nameCell {
  user-select: none;
  width: 140px;
  text-align: center;
  padding: 0 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

.rankIcon {
  user-select: none;
  width: 23px;
  height: 23px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
