.overlay {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 310px;
  width: 90%;
  height: 39vh;
  overflow: hidden;
  border: 2px solid #4caf50;
  margin-bottom: 8px;
}

.myScore {
  background-color: #e0f7fa;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 320px;
  width: 90%;
  overflow: hidden;
  border: 2px solid #4caf50;
  height: auto;
  min-height: 4px;

}

.closeButton {
  float: right;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #4caf50;
}

.content {
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #004d40;
  margin: 0 auto 10px;
  letter-spacing: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #80cbc4;
  width: 100%;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 33vh;
  overflow: hidden;
}

.header {
  display: flex;
  font-weight: bold;
  background-color: #b2dfdb;
  padding: 2px 0;
  border-bottom: 1px solid #004d40;
  color: #004d40;
}

.body {
  overflow-y: auto;
  max-height: 40vh;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}

.row {
  display: flex;
  width: 100%;
  padding: 2px 0;
  border-bottom: 1px solid #80cbc4;
  color: #004d40;
  align-items: center;
}

.row:nth-child(odd) {
  background-color: #e0f2f1;
}

.row:nth-child(even) {
  background-color: #ffffff;
}

.cell {
  flex: 1;
  text-align: center;
  padding: 0 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

.nameCell {
  width: 140px;
  text-align: center;
  padding: 0 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}


