.gameOver {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #f6f6f6;
  text-align: center;
  width: 80%;
}

.title {
  color: white;
  font-size: 34px;
}

.scoreTable {
  margin: 20px auto;
  border-collapse: collapse;
}

.scoreTable td {
  padding: 5px 10px;
  text-align: left;
}

.scoreTable td:first-child {
  text-align: right;
}

.replay {
  font-size: 20px;
  display: block;
  margin-top: 20px;
}
